.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffebd6;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navRight {
    display: flex;
    color: rgb(0, 0, 0);
    gap: 1.5rem;
    align-items: center;
  }
  
  .logo {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .title {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    font-family: var(--font-tinos), serif;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
  
  .btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .logo img {
    cursor: pointer;
    border-radius: 6px;
  }

  .description {
    font-size: 0.8rem;
    color: #646464;
    max-width: 400px;
    margin: 0 auto 1.5rem;
  }